---
import { getCollection } from "astro:content";
import ArticleCard from "@/components/ArticleCard.astro";
import BaseHead from "@/components/BaseHead.astro";
import Container from "@/components/Container.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { SITE_TITLE } from "@/consts";
import tagsData from "@/data/tags.json";

type TagInfo = { title?: string; description?: string };
const tagsInfo = tagsData as Record<string, TagInfo>;

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const tags = [...new Set(posts.flatMap((post) => post.data.tags))];

  return tags.map((tag) => ({
    params: { tag },
    props: {
      posts: posts
        .filter((post) => post.data.tags.includes(tag))
        .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()),
    },
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const tagInfo = tag ? tagsInfo[tag] : undefined;
const pageTitle = tagInfo?.title || tag;
const pageDescription = tagInfo?.description || `Posts tagged with ${tag}`;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`${pageTitle} | ${SITE_TITLE}`}
      description={pageDescription}
    />
  </head>
  <body>
    <div class="content-wrapper">
      <Header />
      <Container>
        <section>
          <h1>{pageTitle}</h1>
          {
            tagInfo?.description && (
              <p class="text-gray text-xl mt-2">{tagInfo.description}</p>
            )
          }
          <div class="space-y-8 mt-8">
            {posts.map((post) => <ArticleCard post={post} />)}
          </div>
        </section>
      </Container>
      <Footer />
    </div>
  </body>
</html>
