---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Container from "../../components/Container.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import PostCard from "../../components/PostCard.astro";
import { SITE_TITLE } from "../../consts";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const tags = [...new Set(posts.flatMap((post) => post.data.tags))];

  return tags.map((tag) => ({
    params: { tag },
    props: {
      posts: posts
        .filter((post) => post.data.tags.includes(tag))
        .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()),
    },
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`${tag} | ${SITE_TITLE}`}
      description={`Posts tagged with ${tag}`}
    />
  </head>
  <body>
    <div class="content-wrapper">
      <Header />
      <Container>
        <section>
          <h1>Posts tagged with "{tag}"</h1>
          <ul class="flex flex-wrap gap-8 list-none m-0 p-0 mt-8">
            {posts.map((post) => <PostCard post={post} />)}
          </ul>
        </section>
      </Container>
      <Footer />
    </div>
  </body>
</html>
