---
import type { CollectionEntry } from "astro:content";
import type { MarkdownHeading } from "astro";
import CodeCopyButton from "@/components/post/CodeCopyButton/CodeCopyButton.astro";
import Comments from "@/components/post/Comments/Comments.astro";
import PostHero from "@/components/post/PostHero/PostHero.astro";
import RelatedPosts from "@/components/post/RelatedPosts/RelatedPosts.astro";
import TableOfContents from "@/components/post/TableOfContents/TableOfContents.astro";
import PageLayout from "./PageLayout.astro";

type Props = CollectionEntry<"blog">["data"] & {
  headings?: MarkdownHeading[];
  relatedPosts?: CollectionEntry<"blog">[];
  showComments?: boolean;
};

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  tags,
  headings = [],
  relatedPosts = [],
  showComments = true,
} = Astro.props;
const showToc = headings.length >= 2;
const displayedRelatedPosts = relatedPosts.slice(0, 4);
---

<PageLayout
  title={title}
  description={description}
  image={heroImage}
  size="full"
>
  <article>
    <PostHero
      title={title}
      pubDate={pubDate}
      updatedDate={updatedDate}
      heroImage={heroImage}
      tags={tags}
    />

    <div
      class:list={["flex gap-12 items-start", { "justify-center": !showToc }]}
    >
      <!-- Main Content -->
      <div
        class:list={["min-w-0 max-w-[920px]", showToc ? "flex-1" : "w-full"]}
      >
        <!-- Article Content -->
        <div class="prose">
          <slot />
        </div>
      </div>

      <!-- Sidebar (TOC only) -->
      {showToc && <TableOfContents headings={headings} />}
    </div>

    <RelatedPosts posts={displayedRelatedPosts} />

    {showComments && <Comments />}
  </article>

  <CodeCopyButton />
</PageLayout>
